<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Configuração do DataSource -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/infnet_biblioteca" />
        <property name="username" value="root" />
        <property name="password" value="password" />
    </bean>

    <!-- Configuração do JdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource" />
    </bean>

    <!-- Configuração do seu repositório de Autor -->
    <bean id="autorService" class="br.edu.infnet.biblioteca.repository.AutorRepository">
        <constructor-arg ref="jdbcTemplate" />
    </bean>

</beans>
